body {
	background-color: #16e097;
}

.campo {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
	width: 1280px;
	height: 720px;
	background-color: #19ffab;
}

.faixa, .faixa2, .faixa3, .faixa4, .faixa5{
	position: absolute;
	width: 150px;
	height: 100%;
	background-color: #73ffcc;
}

.faixa2{
	left: 300px;
}

.faixa3{
	left: 565px;	
}

.faixa4{
	right: 300px;	
}

.faixa5{
	right: 0;
}

.macacao1 {
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	width: 20px;
	height: 100%;
	background-color: #d6fff0;
}

.circulo1 {
	position: absolute;
	left: 0;
	right: 0;
	top:0;
	bottom: 0;
	margin: auto;
	width: 300px;
	height: 300px;
	background-color: #d6fff0;
	border-radius: 50%;
}

.circulo2 {
	position: absolute;
	left: 0;
	right: 0;
	top:0;
	bottom: 0;
	margin: auto;
	width: 280px;
	height: 280px;
	background-color: #19ffab;
	border-radius: 50%;
}


